In [4]:
#AI建立一個function
#資料來源:scores = np.random.randint(50,101,size=(50, 5))
#欄位: ['國文', '英文', '數學', '自然', '社會','總分','平均','排名']
#索引: ['學生' + str(i) for i in range(1, 51)]
#建立DataFrame
import numpy as np
import pandas as pd 

def build_scores_dataframe(scores):
    df = pd.DataFrame(scores,
                      columns=['國文', '英文', '數學', '自然', '社會'],
                      index=['學生' + str(i) for i in range(1, 51)])
    df.index.name = '學生'
    df.columns.name = '科目'
    sum_values = df.sum(axis=1)
    mean_values = df.mean(axis=1)
    df['總分'] = sum_values
    df['平均'] = mean_values
    rank_values = sum_values.rank(method='min', ascending=False)
    df['排名'] = rank_values
    return df

scores = np.random.randint(50,101,size=(50, 5))
df = build_scores_dataframe(scores)
df

科目     國文  英文  數學   自然   社會   總分    平均    排名
學生
學生1    79  68  90   89   83  409  81.8  12.0
學生2    95  92  55  100   90  432  86.4   3.0
學生3    84  94  76   64   56  374  74.8  33.0
學生4    59  89  94   64   91  397  79.4  23.0
學生5    62  93  77   84   82  398  79.6  18.0
學生6    78  50  93   77   92  390  78.0  25.0
學生7    76  88  52   83   92  391  78.2  24.0
學生8    64  55  81   66   74  340  68.0  48.0
學生9    89  73  85   57   94  398  79.6  18.0
學生10   63  84  88   91   76  402  80.4  15.0
學生11   98  97  90   76   63  424  84.8   6.0
學生12   94  89  95   70   88  436  87.2   2.0
學生13   64  99  93   81   80  417  83.4   9.0
學生14   86  81  58   96   81  402  80.4  15.0
學生15   54  77  52   74   89  346  69.2  45.0
學生16   75  74  83   79   69  380  76.0  30.0
學生17   66  75  78   50   96  365  73.0  37.0
學生18   67  91  74   63   88  383  76.6  28.0
學生19  100  99  65   63   59  386  77.2  27.0
學生20   91  81  77   62   68  379  75.8  32.0
學生21   89  98  63   87   78  415  83.0  11.0
學生22   58  83  64   98   95  398  79.6  18.0
學生23   57  74  74   93   52  350  70.0  42.0
學生24   71  83  52   84   68  358  71.6  39.0
學生25   64  71  71   98   94  398  79.6  18.0
學生26   76  89  73   77   85  400  80.0  17.0
學生27   54  84  87   79   99  403  80.6  14.0
學生28   80  64  69   50   99  362  72.4  38.0
學生29   96  74  79   65   95  409  81.8  12.0
學生30   69  68  67   57   55  316  63.2  50.0
學生31   62  97  80   88   97  424  84.8   6.0
學生32   74  83  69   72   52  350  70.0  42.0
學生33   89  66  67   64   62  348  69.6  44.0
學生34   69  64  97   86   82  398  79.6  18.0
學生35   85  91  97   75   96  444  88.8   1.0
學生36   80  58  93   95   62  388  77.6  26.0
學生37   93  91  58   58   57  357  71.4  40.0
學生38   69  58  66   93   57  343  68.6  47.0
學生39   73  63  52   51   86  325  65.0  49.0
學生40   96  52  93   99   87  427  85.4   5.0
學生41   59  50  84   65   95  353  70.6  41.0
學生42   82  78  61   54   70  345  69.0  46.0
學生43   56  64  87  100   66  373  74.6  34.0
學生44   89  54  67   69   93  372  74.4  35.0
學生45   94  83  92   94   67  430  86.0   4.0
學生46   87  95  79   94   62  417  83.4   9.0
學生47   74  74  62   73  100  383  76.6  28.0
學生48   72  84  81   94   92  423  84.6   8.0
學生49   70  99  62   66   83  380  76.0  30.0
學生50   76  79  69   56   92  372  74.4  35.0

In [5]:
#選擇欄位
df1 = df[['國文', '英文', '數學', '自然', '社會']]

def apply_statistics(series):
    """傳出[平均, 最高, 最低, 中間值]"""
    return series.agg(['mean', 'max', 'min', 'median'])

df2 = df1.apply(apply_statistics,axis=0)
df2.index = ['平均','最高','最低','中間值']
df2

科目       國文    英文     數學      自然      社會
平均    76.14  78.4  75.42   76.46   79.78
最高   100.00  99.0  97.00  100.00  100.00
最低    54.00  50.0  52.00   50.00   52.00
中間值   75.50  81.0  76.50   76.50   83.00

In [6]:
s1 = df1['國文'].agg(['mean', 'max', 'min', 'median'])
s2 = df1['英文'].agg(['mean', 'max', 'min', 'median'])
s3 = df1['數學'].agg(['mean', 'max', 'min', 'median'])
s4 = df1['自然'].agg(['mean', 'max', 'min', 'median'])
s5 = df1['社會'].agg(['mean', 'max', 'min', 'median'])
stats = pd.DataFrame([s1, s2, s3, s4, s5], index=['國文', '英文', '數學', '自然', '社會'])
stats

     mean    max   min  median
國文  76.14  100.0  54.0    75.5
英文  78.40   99.0  50.0    81.0
數學  75.42   97.0  52.0    76.5
自然  76.46  100.0  50.0    76.5
社會  79.78  100.0  52.0    83.0

In [7]:

df1['國文'].agg(['mean', 'max', 'min', 'median'])

mean       76.14
max       100.00
min        54.00
median     75.50
Name: 國文, dtype: float64